@{
    ViewData["Title"] = "About";
}

<h1>Over mij</h1>
<p></p>
<div>
    <div style="float: left">
        <img src="~/images/successmountain.png" height="400px" />
    </div>
    <div style="padding-top:45px;">
        <p>
            Hallo, Ik ben Judy. Ik komt uit Taiwan. In 2018 besloot ik na mijn huwelijk naar België te verhuizen. De ervaring van het aanpassen aan een nieuw leven heeft mijn probleemoplossende vaardigheden, flexibiliteit en het vermogen om met verschillende uitdagingen om te gaan, verder versterkt.
        </p>
        <p>
            Tijdens mijn opleiding heb ik grondige kennis opgedaan van .NET C# en de bijbehorende tools. Ik heb elke test met succes afgelegd en beschik daardoor over de meest actuele vakkennis. Bovendien heb ik geleerd om efficiënt om te gaan met complexe vraagstukken in softwareontwikkeling, waarbij ik in staat ben om snel passende oplossingen te vinden en te implementeren.
        </p>
        <p> 
            Hoewel mijn niveau van de Nederlandse taal gemiddeld is, werk ik hard om mijn taalvaardigheid verder te verbeteren. Dit vormt echter geen belemmering voor mijn enthousiasme en mijn vermogen om bij te dragen aan een succesvol team. Daarnaast kan ik me vlot uitdrukken in het Engels.
        </p>
    </div>
</div>
<div style="text-align: center;">
    <img src="~/images/icons/icon_hello.png" height="50px" />
</div>