@{
    ViewData["Title"] = "Contact";
}

<h1 style="text-align: center;">Contact</h1>
<div style="display: flex; justify-content: center; align-items: center;">
    <p><img src="~/images/icons/icon_tele.png" height="30px"/> 0469/17.46.47
        <br/>
           <img src="~/images/icons/icon_email.png" height="31px" /> chyu.inbox@gmail.com
        <br/>
          <img src="~/images/icons/icon_location.png" height="30px" /> Gent, België
        <br/>
           <a href="https://www.linkedin.com/in/chiaoyulu/"><img src="~/images/icons/icon_linkedin.png" height="30px" />  linkedin.com/in/chiaoyulu</a>
     </p>
</div>
<div style="display: flex; align-items: center; justify-content: center;">
    <img src="~/images/successmountain2.png" width="500px" />
</div>