@{
    ViewData["Title"] = "Home Page";
}
<div style="display: flex; align-items: center; justify-content: center; " >
    <div class="text-left" style="float: left; margin-right: 50px;">
        <h1 class="display-4"><strong>Chiao-Yu Lu</strong></h1>
        <h2>Judy</h2>
        <h3>.Net Developer</h3>
        <br/>
        <div class="imageSlide-container">
            <img src="~/images/app/csharp.png" height="70px" />
            <img src="~/images/app/github.jpg" height="50px"/>
            <img src="~/images/app/js.png" height="50px" />
            <img src="~/images/app/vscode.jpg" height="50px"/>
            <img src="~/images/app/vs2022.png" height="50px"  />
            <img src="~/images/app/angular.jpg" height="50px"/>
        </div>
    </div>
  
    <div class="text-right"  style="float: right;">
        <img src="~/images/CVPhoto.jpg" height="400px" />
    </div>
</div>

