@{
    ViewData["Title"] = "Skills";
}
<h1>Kennis</h1>
<div style="display: flex; align-items: flex-start; justify-content: space-evenly;">
    <div class="bodyCard" style="float: left;">
        <h2 style="text-align:left;"><img src="~/images/icons/icon_language.png" height="31px" />Talen</h2>
        <div style="float: left;">
            <p></p>
           <p>• Nederlands  </p>
           <p>• English </p>
           <p>• Chinese  </p>
        </div>
        <div style="float: right;">
            <P class="language-dots" style="margin-top:-5px;">&#8226;&#8226;&#8226;&#8226;&#x25E6;</P>
            <P class="language-dots" style="margin-top:-34px;">&#8226;&#8226;&#8226;&#8226;&#x25E6;</P>
            <P class="language-dots" style="margin-top:-38px;">&#8226;&#8226;&#8226;&#8226;&#8226;</P>
        </div>
    </div>
    <div class="bodyCard" style="float: left;">
        <h2 style="text-align:left;"><img src="~/images/icons/icon_computer.png" height="31px" />Programmeren</h2>
        <p></p>
        <div style="float: left;">
            <p>• Javascript</p>
            <p>• SQL</p>
            <p>• TDD</p>
            <p>• XML</p>
            <p>• .Net ADO</p>
            <p>• Entity Framework</p>
            <p>• Razor pages</p>
            <p>• Angular</p>
        </div>
        <div style="float: right; margin-left: 20px;">
            <p>• .NET C#</p>
            <p>• Html & CSS</p>
            <p>• Reg.EX</p>
            <p>• WPF</p>
            <p>• ASP.NET</p>
            <p>• Web API</p>
            <p>• Blazor</p>
            <p>• Typescript</p>
        </div>
    </div>
    <div class="bodyCard" style="float: right;">
        <h2 style="text-align:left;"><img src="~/images/icons/icon_license.png" height="31px" />Certificaten</h2>
        <p></p>
        <p>• TOEIC Score 738 (internationale Engelse test)</p>
        <p>• Abacus Reserveringssysteem voor vluchten</p>
        <p>• Microsoft Office Word  (Basis)</p>
        <p>• Boekhouding (Basis)</p>
        <p>• Rijbewijs B</p>
    </div>
</div>
<br />
<br />
<h1>Eigenschappen</h1>

<h3 class="bodyCard" style="text-align:center;">Gemotiveerd, zelfstandig, leergierig, flexibel, verantwoordelijk, positief, hoge vorm van autonomie en discipline</h3>
<br/>
<br/>
<div style="display: flex; align-items: flex-start; justify-content: center; ">
    <img src="~/images/app/csharp.png" height="65px" style="margin-right: 30px;" />
    <img src="~/images/app/github.jpg" height="50px" style="margin-right: 30px;" />
    <img src="~/images/app/js.png" height="50px" style="margin-right: 30px;" />
    <img src="~/images/app/vscode.jpg" height="50px" style="margin-right: 30px;" />
    <img src="~/images/app/vs2022.png" height="50px" style="margin-right: 30px;" />
    <img src="~/images/app/angular.jpg" height="50px" style="margin-right: 30px;" />
    <img src="~/images/app/mysql.png" height="50px" style="margin-right: 30px;" />
    <img src="~/images/app/ssms.png" height="50px" style="margin-right: 30px;" />
</div>
